<ion-header class="ion-no-border">
  <ion-toolbar style="color:#F0F0F0;">
    <div class="container">

      <div class="container__image">
      <img  src="assets/logoandname.png">
      </div>

      <div class="container__text">
      <ion-title class="ion-text-center" style="font:bold 22px OpenSans-Bold;color: #3D3D3D;">Bookings</ion-title>
      </div>
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications" class="belllogo"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-input placeholder="Search for a visit"><ion-icon class="icon-search" name="search"></ion-icon></ion-input>

<ion-content>
  <div class="visitsNear">
    <ion-list>
      <ion-item-sliding #slidingItem *ngFor="let homeTripCard of homeTripCards | async; index as i"
                        routerLink="/visit-details/{{homeTripCard.id}}">
      <ion-item  lines="none" color="white" >
        <ion-img class="visitsNear-image" [src]="homeTripCard.image"></ion-img>
        <ion-label>
          <h2 style="font: bold 15px OpenSans-Bold;color: #3D3D3D;">{{homeTripCard.name}}</h2>
          <p style="font: normal 14px OpenSans-Regular;color: #3D3D3D;">{{homeTripCard.description}}</p>
        </ion-label>
      </ion-item>
        <ion-item-options side="end" (ionSwipe)="removeTrip(slidingItem, homeTripCard, i)">
          <ion-button (click)="removeTrip(slidingItem, homeTripCard, i)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
