.back {
  color: #2b2b2b;
  opacity: 0.9;
  width: 35px;
  height: 35px;
}

.message-input {
  width: 100%;
  border-radius: 6px;
  background: #fff;
  resize: none;
  margin-top: 0px;
  --padding-start: 8px;
}

.message {
  padding: 10px !important;
  border-radius: 10px !important;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
  white-space: pre-wrap;
}

.my-message {
  background: #FEAA00;
  color: #fff;
}

.other-message {
  background: white;
  color: #3D3D3D;
}

.time {
  color: #3D3D3D;
  opacity: 0.6;
  float: right;
  font-size: small;
}
