a{
  color: #F9BB15;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10%;
}

img{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.submit-btn {
  margin-top: 40px;
}
