ion-tab-bar{
  --background: #feaa00 0% 0% no-repeat padding-box;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

ion-tab-button{
  --color: #ffdd80;
  --color-selected:  #ffffff;
}

ion-label{
  font: normal 11px OpenSans-Regular;
}

ion-tabs {
  background:#F0F0F0;
}

