<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="earnings">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Earnings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create">
      <ion-icon name="create"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
