<ion-content>
    <form [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">

        <section>
            <ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
                <ion-card-content>
                    <div class="center">
                        <ion-icon style=";width: 113px;height: 113px;" name="images"></ion-icon>
                    </div>
                    <ion-button color="white" shape="round" style="--box-shadow: none">
                        <input required="required" id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
                    </ion-button>
                </ion-card-content>
            </ion-card>

            <ion-card class="ion-text-center" *ngIf="isUploading && !isUploaded">
                <ion-card-header>
                    <ion-card-title>Selected File:<b>{{ fileName }}</b></ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <div *ngIf="percentage | async as pct">
                        Progress: {{ pct | number }}%
                        <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
                    </div>
                    <div *ngIf="snapshot | async as snap">
                        File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
                        {{ snap.bytesTransferred | fileSizePipe }}
                    </div>
                </ion-card-content>

            </ion-card>
            <ion-card class="ion-text-center" *ngIf="!isUploading && isUploaded">
                <ion-card-content>
                    <div *ngIf="UploadedFileURL | async as url">
                        <img [src]="url"/>
                    </div>
                </ion-card-content>
            </ion-card>
        </section>

        <div style="padding-right: 3%;padding-left: 3%;padding-bottom: 3%">

            <div style="margin-bottom: 2%">
                <ion-item lines="none">
                    <ion-label position="floating" style="font:Bold 25px OpenSans-Bold;color: #3D3D3D;">Tour Name
                    </ion-label>
                    <ion-input required="true" type="text" formControlName="name"></ion-input>
                </ion-item>
            </div>

            <ion-item lines="none">
                <ion-label position="floating" style="font:normal 15px OpenSans-Regular;color: #3D3D3D;">Write tour
                    description
                </ion-label>
                <ion-input type="text" formControlName="description"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="floating" style="font:normal 15px OpenSans-Regular;color: #3D3D3D;">Location
                </ion-label>
                <ion-input required="true" type="text" formControlName="location"></ion-input>
            </ion-item>

            <div style="margin-top: 5%">
                <ion-text style="font: normal 500 20px OpenSans-Regular;color: #3D3D3D;margin-left: 2%">About this visit:</ion-text>

                <ion-grid style="width:100%;margin-top: 2%">
                    <ion-row style="position: center">
                        <ion-col>Duration</ion-col>
                        <ion-col>Group size</ion-col>
                    </ion-row>
                    <ion-row style="text-align:center">
                        <ion-col class="downCol">
                            <ion-item lines="none">
                                <ion-label position="floating">Add Duration</ion-label>
                                <ion-input required="true"  type="number" formControlName="time"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col class="downCol">
                            <ion-item lines="none">
                                <ion-label position="floating">Define Group size</ion-label>
                                <ion-input required="true"  type="number" formControlName="size"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid style="width:100%;margin-top: 2%">
                    <ion-row>
                        <ion-col>Price</ion-col>
                        <ion-col>Includes</ion-col>
                    </ion-row>
                    <ion-row style="text-align:center">
                        <ion-col class="downCol">
                            <ion-item lines="none">
                                <ion-label position="floating">Add Price</ion-label>
                                <ion-input required="true"   type="number" formControlName="price"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col class="downCol">
                            <ion-item lines="none">
                                <ion-label position="floating">Add Details</ion-label>
                                <ion-input required="true" type="text" formControlName="details"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-button class="submit-btn" type="submit" expand="block" color="warning"
                            style="margin-top: 5%;font:bold 20px OpenSans-Bold;text-transform:none;">
                    Create
                </ion-button>
            </div>
        </div>

    </form>


</ion-content>

