<ion-header class="ion-no-border">
  <ion-toolbar style="color:#F0F0F0;">
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back-circle" class="back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>

    <ion-item  *ngFor="let contact of contacts; index as i" routerLink="/chat/{{contactsId[i]}}">
      <ion-avatar slot="start">
        <img src="{{ contact.image }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ contact.name }}</h2>
        <p>Tap to Talk!</p>
      </ion-label>
    </ion-item>

  </ion-list>


</ion-content>
