.back {
  color: #2b2b2b;
  opacity: 0.9;
  width: 35px;
  height: 35px;
}

.headerText{
  font: normal normal normal 23px Somatic Rounded;
  letter-spacing: 1.36px;
  color: #3D3D3D;
}

.name {
  font: normal 600 15px OpenSans-Regular;
  color: #3D3D3D;
}
