<ion-header class="ion-no-border">
    <ion-toolbar style="color:#F0F0F0;">
        <div class="container">

            <div class="container__image">
                <img src="assets/logoandname.png">
            </div>

            <div class="container__text">
                <ion-title class="ion-text-center" style="font:bold 22px 'Open Sans';color: #3D3D3D;"></ion-title>
            </div>
        </div>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="notifications" class="belllogo"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
        <div class="avatarCard">
            <div>
                <ion-avatar><img src="{{this.userImage}}"></ion-avatar>
            </div>
        </div>

        <div class="profileName">
            <ion-item lines="none">
                <ion-label position="floating"
                           style="font: bold 20px open sans;color: #3D3D3D;text-align: center">{{this.userName}}
                </ion-label>
                <ion-input style="text-align: center" type="text" formControlName="name"></ion-input>
            </ion-item>
        </div>

        <div class="profileDiscription">
            <ion-item lines="none">
                <ion-label position="floating" style="font: normal 15px open sans;color: #3D3D3D;text-align: center">
                    {{this.userDescription}}
                </ion-label>
                <ion-input style="text-align: center" type="text" formControlName="description"></ion-input>
            </ion-item>
        </div>

        <div class="profileInfo">
            <p>
                <ion-item lines="none">
                    <ion-icon style="color: black" name="location"></ion-icon>
                    <ion-label style="font: normal 15px open sans;color: #3D3D3D;">Lives in</ion-label>
                    <ion-input style="font: bold 15px open sans;color: #3D3D3D;" placeholder="{{this.userHome}}"
                               type="text" formControlName="home"></ion-input>
                </ion-item>
            </p>
            <p>
                <ion-item lines="none">
                    <ion-icon style="color: black" name="language"></ion-icon>
                    <ion-label style="font: normal 15px open sans;color: #3D3D3D;">Speaks</ion-label>
                    <ion-input style="font: bold 15px open sans;color: #3D3D3D;" placeholder="{{this.userLanguages}}"
                               type="text" formControlName="languages"></ion-input>
                </ion-item>
            </p>
            <ion-button class="submit-btn" type="submit" color="warning">
                <ion-icon style="width: 60px;height: 60px;" name="checkmark-circle-outline"></ion-icon>
            </ion-button>
        </div>
    </form>


</ion-content>
