<ion-header class="ion-no-border">
  <ion-toolbar style="color:#F0F0F0;">
    <div class="container">

      <div class="container__image">
        <img  src="assets/logoandname.png">
      </div>

      <div class="container__text">
        <ion-title class="ion-text-center" style="font:bold 22px 'Open Sans';color: #3D3D3D;"></ion-title>
      </div>
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications" class="belllogo"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="avatarCard">
  <ion-avatar><img src="/assets/mockprofile.jpg"></ion-avatar>
  </div>

</ion-header>

<ion-content>

</ion-content>
