<ion-header class="ion-no-border">
    <ion-toolbar style="color:#F0F0F0;">
        <ion-buttons slot="start">
            <ion-button (click)="goback()">
                <ion-icon name="close-circle" class="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
    <ion-toolbar class="footerBar">
        <ion-title class="footerText" style="font:normal 15px 'Open Sans';color: #3D3D3D;">From
          <span style="font:bold 20px 'Open Sans';color: #3D3D3D;">€39</span>
          per person</ion-title>

      <ion-buttons slot="end">
        <ion-button style="background-color: #FEAA00;border-radius: 24px;">
          <span style="font:bold 20px 'Open Sans';color: #ffffff;text-transform:none;">Book Now</span>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
</ion-footer>
