<ion-header class="ion-no-border">
    <ion-toolbar style="color:#F0F0F0;">
        <ion-buttons slot="start">
            <ion-button (click)="goback()">
                <ion-icon name="close-circle" class="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img style="width: 100%" src="assets/logoandname.png"></ion-img>
    <div style="padding: 3%">

        <div style="margin-bottom: 2%">
            <ion-text style="font:Bold 25px OpenSans-Bold;color: #3D3D3D;">{{trip?.name}}</ion-text>
        </div>

        <ion-text style="font:normal 15px OpenSans-Regular;color: #3D3D3D;">
            {{trip?.description}}
        </ion-text>

        <div style="margin-top: 5%">
            <ion-text style="font: normal 500 20px OpenSans-Regular;color: #3D3D3D;">About this visit:</ion-text>

            <table style="width:100%;margin-top: 2%">
                <tr style="position: center">
                    <th>Duration</th>
                    <th>Group size</th>
                </tr>
                <tr style="text-align:center">
                    <td>{{trip?.time}}</td>
                    <td>{{trip?.size}}</td>
                </tr>
            </table>
            <table style="width:100%;margin-top: 2%">
                <tr>
                    <th>Price</th>
                    <th>Includes</th>
                </tr>
                <tr style="text-align:center">
                    <td>{{trip?.price}}</td>
                    <td>{{trip?.details}}</td>
                </tr>
            </table>
        </div>

    </div>
    <ion-list>
        <ion-list-header style="font: normal 500 20px OpenSans-Regular;color: #3D3D3D;margin-right: 3%">
            Enrolled Tourists
        </ion-list-header>

        <section *ngFor="let userEnrolled of allUsersEnrolledInfo; let i = index" >
            <ion-item lines="none" style="font-family: OpenSans-Regular" *ngIf="allUsersEnrolled[i].status != 'Complete'"
                      >
                <ion-avatar slot="start">
                    <img src="{{userEnrolled.image}}" alt="no photo">
                </ion-avatar>
                <ion-label>
                    <h2>{{userEnrolled.name}}</h2>
                    <h3>{{allUsersEnrolled[i].date}} - {{allUsersEnrolled[i].time}}
                        - {{allUsersEnrolled[i].status}}</h3>
                </ion-label>
                <ion-button color="warning" class="buttons"
                            (click)="endTrip(allUsersEnrolled[i].id,allUsersEnrolled[i].orderedBy)"
                            routerLink="/tabs/bookings">End Trip
                </ion-button>
            </ion-item>
        </section>
    </ion-list>
</ion-content>
