<ion-header class="ion-no-border">
  <ion-toolbar style="color:#F0F0F0;">
    <div class="container">

      <div class="container__image">
        <img  src="assets/logoandname.png">
      </div>

      <div class="container__text">
        <ion-title class="ion-text-center" style="font:bold 22px OpenSans-Bold;color: #3D3D3D;">Earnings</ion-title>
      </div>
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications" class="belllogo"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-center">
    <div class="center">
      <ion-icon style="width: 200px;height: 200px;opacity: 0.8;" name="cash-outline"></ion-icon>
      <ion-title style="text-align: center;margin-right: 5%;font: normal 25px OpenSans-Regular">€ {{userEarnings}}</ion-title>
    </div>
  </div>



</ion-content>
