<ion-header class="ion-no-border">
    <ion-toolbar style="color:#F0F0F0;">
        <div class="container">

            <div class="container__image">
                <img  src="assets/logoandname.png">
            </div>

            <div class="container__text">
                <ion-title class="ion-text-center" style="font:bold 23px 'Open Sans';color: #3D3D3D;"></ion-title>
            </div>
        </div>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="notifications" class="belllogo"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
<div class="topTrip">
    <span class="topTrip-header">Top Visits Today</span>
    <div class="topTrip-cards">
        <img src="/assets/toptrip1.jpg" class="topTrip-image">
        <img src="/assets/toptrip2.jpg" class="topTrip-image">
        <img src="/assets/toptrip3.jpg" class="topTrip-image">
    </div>
</div>

<div style="background-color: #F0F0F0">
    <ion-buttons>
        <span class="visitsNear-header">Visits Near You</span>
        <ion-button size="small" slot="end">
            <span style="color: #FEAA00;font: normal 15px 'Open Sans';text-align: right;">filter</span>
        </ion-button>
    </ion-buttons>
</div>

    <div class="visitsNear">
        <ion-list>
            <ion-item *ngFor="let homeTripCard of homeTripCards" lines="none" color="white">
                <ion-img class="visitsNear-image" [src]="homeTripCard.image"></ion-img>
                <ion-label>
                    <h2 style="font: bold 15px Open Sans;color: #3D3D3D;">{{homeTripCard.name}}</h2>
                    <p style="font: normal 14px Open Sans;color: #3D3D3D;">{{homeTripCard.description}}</p>
                    <p>
                        <ion-chip>
                            <ion-icon name="wallet-outline"></ion-icon>
                            <ion-label>{{homeTripCard.price}}</ion-label>
                        </ion-chip>
                        <ion-chip>
                            <ion-icon name="timer-outline"></ion-icon>
                            <ion-label>{{homeTripCard.time}}</ion-label>
                        </ion-chip>
                        <ion-chip>
                            <ion-icon name="star"></ion-icon>
                            <ion-label>{{homeTripCard.rating}}</ion-label>
                        </ion-chip>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
