<ion-header class="ion-no-border">
  <ion-toolbar style="color:#F0F0F0;">
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="close-circle" class="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <div class="avatarCard">
      <div>
        <ion-avatar><img src="/assets/addProfilePic.jpg"></ion-avatar>
      </div>
    </div>

    <div class="profileName">
      <ion-item lines="none">
        <ion-label position="floating"
                   style="font: bold 20px OpenSans-Bold;color: #3D3D3D;text-align: center">
          Profile Name
        </ion-label>
        <ion-input style="text-align: center" type="text" formControlName="name"></ion-input>
      </ion-item>
    </div>

    <div class="profileDiscription">
      <ion-item lines="none">
        <ion-label position="floating" style="font: normal 15px OpenSans-Regular;color: #3D3D3D;text-align: center">
          Description
        </ion-label>
        <ion-input style="text-align: center" type="text" formControlName="description"></ion-input>
      </ion-item>
    </div>

    <div class="profileInfo">
      <p>
        <ion-item lines="none">
          <ion-icon style="color: black" name="location"></ion-icon>
          <ion-label style="font: normal 15px OpenSans-Regular;color: #3D3D3D;">Lives in</ion-label>
          <ion-input style="font: bold 15px OpenSans-Bold;color: #3D3D3D;" placeholder="home"
                     type="text" formControlName="home"></ion-input>
        </ion-item>
      </p>
      <p>
        <ion-item lines="none">
          <ion-icon style="color: black" name="language"></ion-icon>
          <ion-label style="font: normal 15px OpenSans-Regular;color: #3D3D3D;">Speaks</ion-label>
          <ion-input style="font: bold 15px OpenSans-Bold;color: #3D3D3D;" placeholder="language"
                     type="text" formControlName="languages"></ion-input>
        </ion-item>
      </p>
      <ion-button class="submit-btn" type="submit" color="warning">
        <ion-icon style="width: 60px;height: 60px;" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
</ion-content>
