<ion-header class="ion-no-border">
    <ion-toolbar style="color:#F0F0F0;">
        <ion-buttons slot="start">
            <ion-button (click)="goback()">
                <ion-icon name="close-circle" class="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
        <div class="avatarCard">
            <div>
                <ion-avatar><img src="/assets/addProfilePic.jpg"></ion-avatar>
            </div>
        </div>

        <ion-card style="box-shadow: none;font-family: OpenSans-Regular,serif">
            <ion-card-header>
                <ion-card-title>
                    <ion-item>
                        <ion-label position="stacked">Name</ion-label>
                        <ion-input>{{this.user.name}}</ion-input>
                    </ion-item>
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-item class="ion-text-wrap">
                    <ion-label position="stacked">Profile Description</ion-label>
                    <ion-input>{{this.user.description}}</ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Country</ion-label>
                    <ion-input>{{this.user.home}}</ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Spoken Languages</ion-label>
                    <ion-input>{{this.user.languages}}</ion-input>
                </ion-item>
            </ion-card-content>

            <div class="profileInfo">
                <ion-button class="submit-btn" type="submit" color="warning">
                    <ion-icon style="text-align: center;width: 60px;height: 60px;"
                              name="checkmark-circle-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card>
    </form>
</ion-content>
