<ion-header class="ion-no-border">
    <ion-toolbar style="color:#F0F0F0;">
        <ion-buttons slot="start">
            <ion-button (click)="goback()">
                <ion-icon name="close-circle" class="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>


    <form [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
        <div class="avatarCard">
        <section *ngIf="!isUploading && isUploaded">
                <div *ngIf="UploadedFileURL | async as url">
                    <ion-avatar><img [src]="url"/></ion-avatar>
                </div>

        </section>

        <section>
            <section class="ion-text-center" *ngIf="!isUploading && !isUploaded">
                <ion-icon style="width: 35px;height: 35px;color: #3D3D3D" name="create-outline"></ion-icon>
                <br>
                <label style="font-family: OpenSans-Regular">Change Profile Image</label>
                <ion-button color="white" shape="round" style="--box-shadow: none">
                    <input id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
                </ion-button>
            </section>

            <section class="ion-text-center" *ngIf="isUploading && !isUploaded">
                <div *ngIf="percentage | async as pct">
                    Progress: {{ pct | number }}%
                    <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
                </div>
                <div *ngIf="snapshot | async as snap">
                    File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
                    {{ snap.bytesTransferred | fileSizePipe }}
                </div>
            </section>
        </section>
        </div>
        <ion-card style="box-shadow: none;font-family: OpenSans-Regular,serif">
            <ion-card-header>
                <ion-card-title>
                    <ion-item>
                        <ion-label position="stacked">Name</ion-label>
                        <ion-input formControlName="name" placeholder="{{this.user.name}}"></ion-input>
                    </ion-item>
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-item class="ion-text-wrap">
                    <ion-label position="stacked">Profile Description</ion-label>
                    <ion-input type="text" formControlName="description"
                               placeholder="{{this.user.description}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Country</ion-label>
                    <ion-input type="text" formControlName="home" placeholder="{{this.user.home}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Spoken Languages</ion-label>
                    <ion-input type="text" formControlName="languages"
                               placeholder="{{this.user.languages}}"></ion-input>
                </ion-item>
            </ion-card-content>

            <div class="profileInfo">
                <ion-button class="submit-btn" type="submit" color="warning">
                    <ion-icon style="text-align: center;width: 60px;height: 60px;"
                              name="checkmark-circle-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card>
    </form>
</ion-content>
